<div class="posicion"><small class="localizacion"><i class="fa fa-arrow-left flecha" aria-hidden="true"></i>
        Terapias</small></div>
<div class="productosTitulo mb-5 pb-5 ml-4 pl-4 ">
    <h1 class="encabezdoTitulo">Tratamientos fisioterapéutico & psicológicos</h1>
</div>
<div class="texto mb-5 pb-5">
    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptates eligendi labore quis,
        asperiores nihil
        voluptatibus sequi debitis sunt quas earum tempora, culpa impedit magni. Repudiandae magni incidunt tenetur
        facere.
    </p>
</div>
<!--Carrusel Imagenes-->
<div class="container contenedorCarrusel">
    <div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <iframe class="imgenCrrusel" width="560" height="315" src="https://www.youtube.com/embed/FASd4kngZBk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block text-dark  textoVideo">
                    <h5 class="text-dark">Muletasde titanio</h5>
                    <p class="text-dark">nanana</p>
                </div>
            </div>
            <div class="carousel-item">
                <iframe class="imgenCrrusel" width="560" height="315" src="https://www.youtube.com/embed/c7jwjBgoSfI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block text-dark  textoVideo">
                    <h5 class="text-dark">Muletasde titanio</h5>
                    <p class="text-dark">nanana</p>
                </div>
            </div>
            <div class="carousel-item">
                <iframe class="imgenCrrusel" width="560" height="315" src="https://www.youtube.com/embed/c7jwjBgoSfI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block text-dark textoVideo">
                    <h5 class="text-dark">Muletasde titanio</h5>
                    <p class="text-dark">nanana</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr>
<br>
<!--#########################################################################################################-->
<div class="productosTitulo mb-5 pb-5 ml-4 pl-4 ">
    <h2 class="encabezdoTitulo">Terapias especializadas</h2>
</div>
<div class="texto">
    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptates eligendi labore quis,
        asperiores nihil
        voluptatibus sequi debitis sunt quas earum tempora, culpa impedit magni. Repudiandae magni incidunt tenetur
        facere.
    </p>
</div>
<div class="container mt-1 pt-1 contenidoProd  img-fluid mb-4 pb-4">
    <div class="row col-12 align-items-stretch text-center img-fluid ns">
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd img-fluid">
            <div id="t" class="cuadriculaProd">
                <div class="svgProd">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                        src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>
                <div class="service-2 text-center">
                    <h3><span>Vasos</span></h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd img-fluid">
            <div id="t" class="cuadriculaProd img-fluid">
                <div class="svgProd img-fluid">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                        src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="service-2 img-fluid ">
                    <h3><span>Vasos</span></h3>
                    <p class="text-justific img-fluid">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd">
            <div id="t" class="cuadriculaProd">
                <div class="svgProd">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                        src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="service-2 text-center">
                    <h3><span>Vasos</span></h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-1 pt-1 contenidoProd text-center">
    <div class="row col-12 align-items-stretch text-center ns">
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd">
            <div id="t" class="cuadriculaProd">
                <div class="svgProd">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                    src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <div class="service-2 text-center">
                    <h3><span>Vasos</span></h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd">
            <div id="t" class="cuadriculaProd">
                <div class="svgProd">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                    src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <div class="service-2 text-center">
                    <h3><span>Vasos</span></h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-lg-4 col-lg-4 img-thumbnail cajasProd">
            <div id="t" class="cuadriculaProd">
                <div class="svgProd">
                    <iframe id="servi" class="img-fluid text-center productoProd" width="560" height="200"
                    src="https://www.youtube.com/embed/c7jwjBgoSfI" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <div class="service-2 text-center">
                    <h3><span>Vasos</span></h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, quod nulla</p>
                </div>
            </div>
        </div>
    </div>
</div>