<form class="text-center">
    <div class="form-row text-center inicioSesion">
        <div class="ini text-center">
            <h1 class="iniciarSesTitulo text-center">Registro</h1>
    </div>
        <div class="form-group col-md-12 emails na">
            <label>Nombre completo</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre Completo">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
        </div> 
        <div class="form-group col-md-5  emails ">
            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" id="inputEmail4" placeholder="Nombre Completo">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-5 emails genero">
            <select id="inputState" class="form-select">
              <option selected>Genero...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-12 emails">
            <label>Correo electronico</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Correo electronico">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-12 emails">
            <label>Conraseña</label>
            <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
            <small class="Registrate text-center"> La contraseña debe conener 8 caracteres como minimo, una mayuscula y un caracter especial</small>
          </div>
          <div class="col-md-12 emails">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Confirmar contraseña">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
          </div>
            <button type="submit" class="btn btn-primary text-center mt-5">Registrarme</button>
        </div>

</form>