
    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
              </div>
            </div>
            <div class="site-mobile-menu-body"></div>
          </div>
          <header class="site-navbar site-navbar-target img-fluid" role="banner">
            <div class="container encavezado">
              <div class="row align-items-center position-relative">
      
                <div class="col-3 img-fluid">
                  <div class="site-logo img-fluid ">
                    <a href="index.html img-fluid"><strong></strong><img src="/assets/images/LOGO.JPG" class="img-fluid img  mt-5 pt-5 elLogo"
                     alt="" /> </a>
                  </div>
                </div>
                <div class=" flexsearch mb-4 pb-4 mt-1 pt-1 text-center col-3">
                  <div class="flexsearch--wrapper text-center">
                    <form class="flexsearch--form text-center" action="#" method="post">
                      <div class="flexsearch--input-wrapper">
                      <input class="flexsearch--input " type="search" placeholder="Buscar Terapia o ecoProduco">
                      <a class="ps" title="Buscar" href="http://www.lostejos.com"><i class="fa fa-search icon fa-2x" aria-hidden="true"></i></a>
                      <a class="ps1" title="Microphone" href="http://www.lostejos.com"><i class="fa fa-microphone icon2 fa-2x" aria-hidden="true"></i></a>
                      </div>
                    </form>
                  </div>
              </div>
                <div class="col-4  text-right nav ">
                  <span class="d-inline-block d-lg-none"><a href="#"
                      class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                      <span class="icon-menu h3 text-white"></span></a></span>
      
                  <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav ml-auto ">
                      <li class="active"><a href="/inicio" class="nav-link">Inicio</a></li>
                      <li class="active"><a href="/productos" class="nav-link ">Productos</a></li>
                      <li class="active"><a href="/terapias" class="nav-link ">Terapias</a></li>
                      <a routerLink="/sesion" style="color: black;" class="icono"><i class="fa fa-user-circle-o fa-4x "></i></a>
                      <a href="/sesion" class="txtsesion" style="color: black;"><small class="sesion">Inicia sesion</small></a>
                    </ul>
                  </nav>
                </div>
                <div class="container microfono animate__animated  animate__jello animate__infinite animate__slow">
                  <div><img  class="microfono" src="/assets/images/microfono.png" />
                  </div>
                  <small class="textomicro">Te escucho</small>
                </div>
               
                <div style="background-color: chartreuse;"></div>
              </div>
            </div>
          </header>
          <div class="ftco-blocks-cover-1 imagen-principal">
            <div class="ftco-cover-1 overlay innerpage img-fluid imagen" style="background-image: url('/assets/images/Terapia.jpg')">
              <div class="container text-center">
                <div class="row align-items-center">
                  <div class="col-lg-5 mt-3 pt-3 carrusel-posicion">
                    <div id="carouselExampleSlidesOnly" class="carousel slide mt-5 pt-5" data-ride="carousel">
                      <div class="carousel-inner mt-3 pt-3">
                        <div class="carousel-item active mt-3 pt-3">
                          <h1 class="d-block w-100 " alt="First slide">HB PHYSICAL THERAPY</h1>
                          <h2 class="line-bottom suv">Clinica especialisada en ortopedia y ayuda psicologica</h2>
                        </div>
                        <div class="carousel-item mt-3 pt-3">
                          <h1 class="d-block w-100 line-bottom text-thumbnail text-fluid line-bottom" alt="Second slide">
                            Libertad de movimiento
                          </h1>
                        </div>
                        <div class="carousel-item mt-3 pt-3">
                          <h1 class="d-block w-100 " alt="Third slide">Tu salud es nuestra prioridad
                          </h1>
                          <h2 class="line-bottom suv">Libertad de movimiento</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="organic">
              <img class="logo2" src="/assets/images/logos.png"/>
              <h1 class="organic">HB PHYSICAL THERAPY</h1>
              <small class="sm">Libertad de movimeinto</small>
            </div>
            <br>
          </div>
          <router-outlet></router-outlet>
    </div>
    <div class="btn-whatsapp">
      <a href="https://api.whatsapp.com/send?phone=0013472852876&text=Hello!!,%20I%20want%20to%20receive%20information%20about%20your%20Services."
        target="_blank">
        <img src="/assets/images/btn_whatsapp.png" alt="">
      </a>
    </div>
    <div class="site-section" style="height: 20%;">
        <footer class="site-footer" style="height: 20%;">
          <div class="container nas">
            <div class="row  text-center">
              <div class="col-md-12">
                <div class="border-top pt-5">
                  <p style="color: black;">
                    Copyright &copy;
                    <script class="text-fluid">document.write(new Date().getFullYear());</script> Rolling Gates All
                    rights reserved |
                  Methodology Sapace <a href="https://o-url.com.mx"
                      target="_blank">O-URL</a>
                    <img src="/assets/images/logos.png" class="img-fluid " style="width: 15%;">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
