.contenedor2{
     flex-basis: 100% !important;
     max-width: 100%!important;
     width: auto !important;
     display: flex !important;
     position: relative;
     margin-right: auto !important;
     margin-left: auto !important;
     justify-content: center;
   
     
}

.contenidosProductos{

    flex-basis: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    padding-top: 2vh;
    margin-top: 2vh;
    padding-bottom: 5vh;
    margin-bottom:  5vh;
    margin-left: auto;
    margin-right: auto;
    position:  relative !important;
    display: flex !important; 
   
    
}
@media only screen and (max-width:2000px) {
    .productoCbeza{
        flex-basis: 60% !important;
        max-width: 60% !important;
        width: 60% !important;
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center !important;
        
    }
     .leyendaCbeza{
    
        font-size: 4.5vh !important;
        position: relative;
        display: flex;
        margin: auto;
        margin-left: -2rem !important;
            
     }

     @media only screen and (max-width:1366px){
        .productoCbeza{
            flex-basis: 60% !important;
            max-width: 60% !important;
            width: 60% !important;
            display: flex;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
            
        }
         .leyendaCbeza{
        
            font-size: 5vh !important;
            position: relative;
            display: flex;
            margin: auto;
            margin-left: -1rem !important;
                
         }  
         .contenidosProductos{
            padding-bottom: 7vh;
            margin-bottom:  7vh;

         }   
     
      }
      @media only screen and (max-width:866px){
        .productoCbeza{
            flex-basis: 100% !important;
            max-width: 100% !important;
            width: 100% !important;
            display: flex;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
           
            
        }
         .leyendaCbeza{
        
            font-size: 3vh !important;
            flex-basis: 100%;
            max-width: 100%;
            width: 100%;
                
         }
         .contenidosProductos{

            padding-top: 2rem !important;
            margin-top:2rem !important ;
         }
         .logoeco{
             margin-left: auto !important;
             margin-right: auto !important;
             flex-basis: 20vh !important;
             max-width: 20vh !important;
             width: 20vh !important;
         }
        .flexsearch--wrapper{
            margin-top: -11vh !important;
        }

     
       }
       @media only screen and (max-width:600px){
        .productoCbeza{
            flex-basis: 100% !important;
            max-width: 100% !important;
            width: 100% !important;
            display: flex;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
            flex-direction: column;
            
        }
         .leyendaCbeza{
        
            font-size: 2vh !important;
            position: relative;
            display: flex;
            margin-left: auto;
            margin-right:auto;
            justify-content: center;
                
         }
         .contenidosProductos{

            padding-top: -10rem !important;
            margin-top:-10rem !important ;
         }
         .logoeco{
             margin-left: auto !important;
             margin-right: auto !important;
             flex-basis: 20vh !important;
             max-width: 20vh !important;
             width: 20vh !important;
         }
     
 }


}


.cajasProd{

    margin-right: 1vh;
    display: flex;
    position: relative !important;
    margin-right: 2vh !important;
    flex-basis: 30% !important;
    max-width: 30% !important;
    width: 30% !important;
    padding-bottom: 2vh !important;
 
    
    }
    
    .cuadriculaProd{
      margin-right: auto !important;
      margin-left: auto !important;
      
      

    }
    
    .svgProd{
      
    margin: 0% !important;
    padding: 0% !important;
    flex-basis: 40vh !important;
    max-width: 40vh !important;
    width: 40vh !important;
    position: relative !important;
    margin-right: auto !important;
    margin-left: auto !important;
    

    }
    
    .productoProd{
      zoom: 250% !important;
      flex-basis: 100% !important;
      max-width:100% !important;
      width: 100% !important;
      border-radius: 3% !important;
     
      
      
    }
    .contenidoProd{
        padding-top: -1rem !important;
        margin-top: -1rem !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
        width: 100%;
        flex-direction: column;    
        
      
    }
    @media only screen and (max-width:866px) {
        .ns{
       
            flex-basis: 100% !important;
            max-width: 100% !important;
            width: 100%;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
            flex-direction: column;
            
            
        }
        .cajasProd{
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
            flex-basis: 100%;
            max-width: 100%;
            width: 100%;

        }
        
   
      @media only screen  and (max-width:600px){
        .ns{
       
            flex-basis: 100% !important;
            max-width: 100% !important;
            width: 100%;
            margin-left: auto !important;
            margin-right: auto !important;
            justify-content: center !important;
            flex-direction: column;
            }
    }
}

    .ns{
       
        flex-basis: 100% !important;
        max-width: 100% !important;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center !important;
  
        
    }

   .service-2{
       margin-top: -1rem !important;
       height: 10rem !important;
      
   }
.imagen{
    height: 1vh!important;
}
@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	position: static;
    
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
    justify-content: center !important;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
    
    
}

.flexsearch--input {
  width: 100%;
  
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color:  #ADD100;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #39FF14;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}
.flexsearch--wrapper{

    margin-left: -100px;
    margin-top: -7rem;
}
