<form class="text-center">
    <div class="form-row text-center inicioSesion">
        <div class="ini text-center">
            <h1 class="iniciarSesTitulo text-center">Iniciar sesión </h1>
    </div>
        <div class="form-group col-md-12 emails">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            <i class="fa fa-envelope fa-2x loginicorre" aria-hidden="true"></i>
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
        </div>
        <div class="form-group col-md-12 paswors">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            <i class="fa fa-lock fa-3x loginicorre1" aria-hidden="true"></i>
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2" aria-hidden="true"></i></a>
            <div class="recuTraeña text-center mb-5 pb-5">
                <small class="smct text-center">Se te olvido tu contraseña <a title="Los Tejos" href="/RecuperarContraseña">!Recuperar¡</a></small>
            </div>
        </div>
            <div class="col-12 cuentas">
                <div class="cuenaOtros row">
                    <div class="otrosTexto col-md-4">
                        <h1 class="textOtros">Iniciar con </h1>
                    </div>
              <div class="bloqueCuentas text-center">
                <div class="googles col-md-4 text-center">
                    <a href="https://www.google.com/intl/es-419/gmail/about/"><img class="google text-center"
                            src="/assets/images/google.png" alt="Image" ></a>
                </div>
                <div class="faceboocks col-md-4 ">
                    <a href="https://es-la.facebook.com/"><img class="faceboock" 
                            src="/assets/images/faceboock.png" alt="Image"></a>
                </div>
            </div>
            </div>
        </div>
            <button type="submit" class="btn btn-primary text-center mt-5">Iniciar sesión</button>
            <small class="Registrate text-center"> ¿No tienes cuenta? <a title="Los Tejos" href="/registro">!Registrate¡</a> </small>
        </div>

</form>