
<form class="text-center">
    <div class="form-row text-center inicioSesion">
        <div class="ini text-center mb-3 pb-3">
            <h1 class="iniciarSesTitulo text-center">Datos personales</h1>
    </div>
        <div class="form-group col-md-6 emails na">
            <label>Talla</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Talla">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
        </div> 
        <div class="form-group col-md-6  emails na">
            <label>Peso</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Peso">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-6 emails">
            <select id="inputState" class="form-select">
              <option selected>Tipo de sangre...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-6 emails">
            <label>Correo electronico</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Correo electronico">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-6 emails">
            <label>Tratamiento Clinico</label>
            <input type="text" class="form-control" id="inputPassword3" placeholder="Tratamiento clinico">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-6 emails">
            <label>Alergias</label>
            <input type="text" class="form-control" id="inputPassword3" placeholder="Alergias">
            <a title="Los Tejos" href="http://www.lostejos.com"><i class="fa fa-microphone fa-2x loginicorre2a" aria-hidden="true"></i></a>
          </div>
          <div class="botones1 col-md-6 mt-2 pt-2">
            <button type="submit" class="btn btn-primary text-center mt-5">Enviar</button>
        </div>
        <div class="col-md-6 mt-2 pt-2"> 
            <button  type="submit" class="btn btn1 bg-warning text-center mt-5 n1">Cancelar</button>
        </div>
        </div>

</form>