
<div class="row principal">
    <div class="presentacion">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gUUqB72RKL4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia">
            <h1 class="titulo-terapia">Terapia moscular Lumbar</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum reiciendis
                libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
            <div class="btn-terapia">
                <button class="boton" type="submit">Ver mas de la terapia</button>
            </div>

        </div>
        <br>
    </div>
    
</div>
<hr>
<div class="row principal">

    <div class="presentacion">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FASd4kngZBk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia img-fluid">
            <h1 class="titulo-terapia">Terapia moscular Lumbar</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
                reiciendis libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
                <div class="btn-terapia">
                    <button class="boton" type="submit">Ver mas de la terapia</button>
                </div>

        </div>
        <br>
    </div>
</div>
<hr>
<div class="row principal2">
    <div class="presentacion2">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c7jwjBgoSfI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia">
            <h1 class="titulo-terapia">Terapia Ligamentos de rodilla</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
                reiciendis libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
            <div class="btn-terapia">
                <button class=" boton" type="submit">Ver mas de la terapia</button>
            </div>

        </div>
        <br>
    </div>
  </div>
   
 

 
