
<div class="row principal">
    <div class="presentacion">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gUUqB72RKL4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia">
            <h1 class="titulo-terapia">Terapia moscular Lumbar</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum reiciendis
                libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
            <div class="btn-terapia">
                <button class="boton" type="submit">Ver mas de la terapia</button>
            </div>

        </div>
        <br>
    </div>
    
</div>
<hr>
<div class="row principal">

    <div class="presentacion">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FASd4kngZBk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia img-fluid">
            <h1 class="titulo-terapia">Terapia moscular Lumbar</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
                reiciendis libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
                <div class="btn-terapia">
                    <button class="boton" type="submit">Ver mas de la terapia</button>
                </div>

        </div>
        <br>
    </div>
</div>
<hr>
<div class="row principal2">
    <div class="presentacion2">
        <div class="video col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c7jwjBgoSfI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="ecena"></iframe>
        </div>
        <div class="col-6 informacion-terapia">
            <h1 class="titulo-terapia">Terapia Ligamentos de rodilla</h1>
            <h3 class="descripcion-terapia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum
                reiciendis libero repudiandae minima
                corrupti fugiat. Minima iure unde omnis id, magni necessitatibus sequi corporis delectus aspernatur
                illum quia quasi aperiam.</h3>
            <div class="btn-terapia">
                <button class=" boton" type="submit">Ver mas de la terapia</button>
            </div>

        </div>
        <br>
    </div>
  </div>
  <div class="text-center mb-4 pb-4 bns2 wow animate__animated animate__bounce  animate__infinite">
    <h1 class="bns text-center">¿Quienés somos?</h1>
  </div>
  
  <div class="ftco-blocks-cover-1   entorno text-center">
    <div id="caja" class="ftco-cover-1 overlay  img-fluid " style="background-image:url(/assets/images/terapia3.jpg)  ;">
      <div class="container float-sm-center text-center">
        <div class="row align-items-center justify-content-center ml-5 pl-5  ">
          <div id="obj" class="col-lg-12 mt-3 pt-3 text-center overflow-auto cuadro wow animate__animated animate__backInRight" style="background-color: #8AC0FA;">
            <h2 class="text-white" style="font-size: 3rem;"> Nuestra misión</h2>
            <h3 class="line-bottom text-white">##.</h3>
          </div>
          <div id="obj" class="col-lg-12 mt-3 pt-3 text-center  overflow-auto wow animate__animated animate__backInLeft" style="background-color:  #8AC0FA ;">
            <h2 class="text-white" style="font-size: 3rem;"> Objetivo</h2>
            <h3 class="line-bottom text-white">##
            </h3>
          </div>
          <div id="obj" class="col-lg-12 mt-3 pt-3 text-center overflow-auto pb-3 mb-3 wow animate__animated animate__backInRight "
            style="background-color:  #8AC0FA;">
            <h2 class="text-white" style="font-size: 3rem;">Visión</h2>
            <h3 class="line-bottom text-white">##
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  

 