.principal{
    position: relative;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 1rem;
    padding-bottom: 5rem;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    height: 30rem;

}
.presentacion{
    height: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.video{

    position: relative;
    display: flex;
    flex-basis: 30% !important;
    max-width: 30% !important;
    width: 30% !important;
    margin-left: 10%;
    padding-right: -60rem;
    padding-left: -30rem;
    padding-right:-30rem ;
}
.ecena{
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
}
.informacion-terapia{
    position: relative;
    display: flex;
    margin-top: -15rem;
    margin-left: 40%;
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
 
}
.descripcion-terapia{
    font-family: 'Signika Negative', sans-serif;
    color: black;

}
.titulo-terapia{
    position: absolute;
    display: flex;
    margin-top: -5rem;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    
    
}
.btn-terapia{
    position: absolute;
    display: flex;
    margin-top: 18%;
    margin-left: 65%;
    min-height: 70% !important;
    height: 70% !important;
    width: 30%;
}

.boton{
    flex-basis: 100% !important;
    max-width: 100% !important;
    width: 100%!important;
    border-radius: 1rem;
    background-color: #8AC0FA;
    border-color: #8AC0FA;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    color: aliceblue;
}
@media only screen and (max-width:1366px) {
    .btn-terapia{
        margin-top: 27%;
        margin-left: 72%;
        height: 40% !important;
        width: 30%;
    }
    
    .boton{
        flex-basis: 80% !important;
        max-width: 80% !important;
        width: 80%!important;
        
    }
    .entorno{
        margin-top: -5rem !important  ;
        padding-top: -5rem !important;
       
    }
    .bns{
        margin-top: -6rem;
    }
    @media only screen and (max-width:866px) {
        .btn-terapia{
        display: flex !important;
        flex-direction: column !important;
         margin-top: 47% !important;
         margin-left: auto !important;
         margin-right: auto !important;
         height: 40% !important;
         width: 100%;

        }
        .boton{
         margin-left: auto !important;
         margin-right: auto !important;

        }

    }

}
.principal1{
    position: relative;
    display: flex;
    margin-bottom: 8rem ;
    height: auto;
    height: 20rem;
}
.entorno{
    margin-top: 5rem !important  ;
    padding-top: 5rem !important;
   
}
#obj{
    border-radius: 2rem !important;
    opacity: .8 !important;
}
.bns2{
    position: relative;
    display: flex;
    margin-top: 15rem;
    padding-top: 2rem;
    margin-bottom: -60rem;
    padding-bottom: -60rem;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center !important;

}
.bns{
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    padding-left: 0%;
    justify-content: center !important;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    color: black;
}